body {
    background-color: #2e3440;
    font-family: "Tahoma", sans-serif;
}

.info-bubble {
    border: 15px solid #4c566a;
    border-radius: 100px;
    background-color: #434c5e;
    font-weight: bold;
    height: 500px;
    width: 800px;
    text-align: center;
    padding: 5px;
}

.main-page {
    padding: 30px;
}